$colores: (
    nav: #C0B7AF,
    main: #D3BFAC,
);

@mixin grid {
    margin-right: 55px;
    margin-top: 25px;
}

div {
    h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-style: oblique;
    margin-top: 25px;
    }
    
    h4 {
        margin-top: 45px;
    }

    ul {
        list-style: none;
    margin-left: auto;
    padding-left: 25px;
    padding-top: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
    }
}


.grid-image{
    margin-left: 35px;
    margin-top: 35px;
}

.image-style{
    @extend .image-serv;
    width: 400px;
}

.grid-item {
    @include grid;
    text-align: left;
}

.image-serv {
    border-radius: 15% 10%;
}
    
.dStyle {
    margin-left: 45px;
}

@media(max-width:425px) {
    .grid-image {
        margin-left: 2%;
    }
}

.bg-main {
    background-color: map-get($colores,main);
}

.bg-nav {
    background-color: map-get($colores, nav);
}
